@import './navigation';
@import './home';
@import './services';
// @import './config';
$primary_color: #7ac4b7;

.top-bar {
   background: $primary_color;
   height: auto;
   padding: 1rem 0;
   margin-top: 3rem;
}

.location-info {
   p {
      margin: 0rem;
   }
}

.top-bar a {
   color: aliceblue;
   text-decoration: None;
   font-size: 1rem;
}

.link-no-decoration {
   text-decoration: none;
   color: black;
}

.contact-topbar {
   font-size: 1.5rem;
   a {
      font-size: 1.2rem;
      font-weight: 500;
   }
   button {
      font: $primary_color;
   }
   p {
      padding: 0;
   }
}

.inOutBtn {
   button {
      background: #7ac4b7;
      color: #7ac4b7;
      border: white;
   }
}
.navbar {
   position: fixed;
   // padding-bottom: 1rem;
   top: 0;
   left: 0;
   width: 100%;
   height: auto; /* You can adjust this height to your preference */
   background-color: #333; /* Customize the background color */
   color: #fff; /* Customize the text color */
   z-index: 999; /* Make sure the navbar appears on top of other content */
}

//Booking screen
.booking {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 1.5rem;
}
