@import './navigation';
@import './home';
@import './services';
// @import './config';
$primary_color: #7ac4b7;

.top-bar {
   background: $primary_color;
   height: auto;
   padding: 1rem 0;
}

.location-info {
   p {
      margin: 0rem;
   }
}

.top-bar a {
   color: aliceblue;
   text-decoration: None;
   font-size: 1rem;
}

.link-no-decoration {
   text-decoration: none;
   color: black;
}
