@import './navigation';
@import './home';

.top-bar {
   background: #7ac4b7;
   height: auto;
   padding: 1rem 0;
}

.location-info {
   p {
      margin: 0rem;
   }
}

.top-bar a {
   color: aliceblue;
   text-decoration: None;
   font-size: 1rem;
}
